<section class="blog-category-list" aria-label="List of blog categories">
  <div class="category">
    <h2><a href="/blog/pregnancy">Pregnancy</a></h2>
    <p>Articles about my adventures before and during pregnancy.</p>
    <p><a href="/blog/pregnancy" class="btn">All pregnancy posts</a></p>
  </div>

  <div class="category">
    <h2><a href="/blog/life">Life</a></h2>
    <p>Random articles about non-work related things going on in my life.</p>
    <p><a href="/blog/life" class="btn">All life posts</a></p>
  </div>

  <div class="category">
    <h2><a href="/blog/photography">Photography</a></h2>
    <p>Articles for those rare occasions that I decide to photo-blog.</p>
    <p><a href="/blog/photography" class="btn">All photography posts</a></p>
  </div>
</section>
