<section class="blog-category-list" aria-label="List of blog categories">
  <div class="category">
    <h2><a href="/blog/category/pregnancy/">Pregnancy</a></h2>
    <p>Articles about my adventures before and during pregnancy.</p>
    <p><a href="/blog/category/pregnancy/" class="btn" aria-label="Read posts about pregnancy">Read all posts</a></p>
  </div>

  <div class="category">
    <h2><a href="/blog/category/life/">Life</a></h2>
    <p>Random articles about non-work related things going on in my life.</p>
    <p><a href="/blog/category/life/" class="btn" aria-label="Read posts about life">Read all posts</a></p>
  </div>

  <div class="category">
    <h2><a href="/blog/category/photography/">Photography</a></h2>
    <p>Articles for those rare occasions that I decide to photo-blog.</p>
    <p><a href="/blog/category/photography/" class="btn" aria-label="Read posts about photography">Read all posts</a></p>
  </div>
</section>
