<section class="site-content thatdevgirl" aria-label="About my consulting business">
  <div class="site-wrapper">

    <h2><b>That Dev Girl</b> is Live!</h2>

    <p>
      I am a web developer with a full time job, but I also enjoy spreading my
      wings with freelance projects.
      <a href="https://thatdevgirl.com">That Dev Girl</a> is my official
      consulting website and features both my portfolio of websites and tools,
      as well as
      <a href="http://www.thatdevgirl.com/blog">development-focused blog posts</a>
      about code, web accessibility, random tech tips, and more. Check it out!
    </p>

    <a class="btn" href="https://thatdevgirl.com">
      <span class="fa fa-bookmark"></span> That Dev Girl
    </a>

  </div>
</section>
