<header class="home-header">
  <div class="site-wrapper">
    <a href="/">
      <img src="{{ site.images }}/joni-halabi-logo.png" role="presentation">
      <h1>Joni Halabi</h1>
    </a>

    <p>single by choice mom, web developer, long distance runner, cookie baker, occasional knitter, music lover, perpetual reader</p>
  </div>
</header>

<nav class="nav home" aria-label="Main site navigation">
  <ul>
    <li><a href="/photos">Photos</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/books">Reading</a></li>
    <li><a href="/resume">Resume</a></li>
  </ul>
</nav>
