<header class="site-header">
  <a href="/">
    <img src="{{ site.images }}/joni-halabi-logo.png" alt="Joni Halabi site logo">
    <h1>Joni Halabi</h1>
  </a>

  <nav class="site-nav">
    <button id="menu-btn">Menu</button>
    <div class="menu-main-nav-container">
      <ul id="menu-main-nav">
        <li><a href="/photos">Photos</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/books">Reading</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
  </nav>
</header>
