/**
 * Default page containers
 */

.site-content {
  padding: 2rem $gutter_default;

  @media screen and (min-width: $medium) {
    margin-top: $header_height;
    padding: 2rem $gutter_medium;
  }

  @media screen and (min-width: $large) {
    padding: 2rem $gutter_large;
  }
}

section.site-content {
  @media screen and (min-width: $medium) {
    margin-top: 0;

    &:first-child {
      margin-top: $header_height;
    }
  }
}

.site-wrapper {
  @media screen and (min-width: $xlarge) {
    margin: 0 auto;
    width: $max_width;
  }
}

section.grey {
  background: $grey_bg_verylight;
}
