/**
 * Site header, all pages but the home page
 */

.site-header {
  background: $black;
  text-align: center;
  z-index: 100;

  @media screen and (min-width: $medium) {
    box-shadow: 0 1px 0.625rem #444;
    height: $header_height;
    padding: 0 0 0 $gutter_default;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
  }

  a, a:hover {
    background: transparent;
    color: $white;
    text-decoration: none;
  }

  h1 {
    display: inline;
    font-family: $font_sans;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0 0 0 0.25rem;
  }

  img {
    display: inline;
    position: relative;
    top: 0.25rem;
    width: 2rem;
  }
}


/**
 * Navigation for content pages.
 */

#menu-btn {
  background: $purple_dark;
  color: $white;
  display: block;
  font-family: $font-sans;
  font-size: 1.1rem;
  padding: 0.625rem;
  width: 100%;

  @media screen and (min-width: $medium) {
    display: none;
  }
}

.site-nav {
  @media screen and (min-width: $medium) {
    display: inline-block;
    position: absolute;
    right: 1rem;
  }

  ul {
    background: $grey_bg_dark;
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 1s;

    @media screen and (min-width: $medium) {
      background: none;
      display: block;
      height: auto;
    }

    li {
      border-bottom: 1px solid $grey_border_dark;
      font-size: 1rem;
      margin-bottom: 0;
      padding: 0.625rem;

      @media screen and (min-width: $medium) {
        border: 0;
        display: inline-block;
        overflow: hidden;
        padding: 0;
      }
    }

    &.show {
      height: 185px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    width: 100%;

    @media screen and (min-width: $medium) {
      display: inline-block;
      padding: 0.72rem 1.75rem;

      &:hover {
        background: $purple_dark;
      }
    }

    &.current {
      @media screen and (min-width: $medium) {
        background: $purple_base;
      }
    }
  }
}
