/**
 * General book page styles
 */

// List of anchor links
.book-anchors {
  font-size: 1.2rem;
  margin: 2rem 0 4rem -0.5rem;

  a {
    display: inline-block;
    padding: 0 0.5rem;
  }
}

// Individual anchor
.book-anchor {
  left: 0;
  position: relative;
  top: -48px;

  & + h2 {
    background: darken($grey_bg_light, 5%);
    left: calc((100vw - 100%) / 2 * -1);
    margin-bottom: 1rem;
    padding: 0.5rem $gutter_default;
    position: relative;
    width: calc(100vw - ( (100vw - 100%) / 2 ));

    @media screen and (min-width: $medium) {
      margin-bottom: 2rem;
      padding: 0.5rem $gutter_medium;
    }

    @media screen and (min-width: $medium) {
      padding: 0.5rem $gutter_large;
    }

    @media screen and (max-width: $medium) {
      font-size: 1.5rem;
    }
  }
}
