/**
 * Taxonomy article list
 */

.taxonomy-articles {
  list-style-type: none;
  margin: 2rem 0;

  @media screen and (min-width: $medium) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  li {
    background: $grey_bg_light;
    padding: 2rem;
  }

  .date {
    font-size: 0.9rem;
    margin: 0 0 1rem;
  }
}
