{% include site-header.html %}
{% include page-header.html %}

{{ content }}

<section class="resume-profiles site-content grey" aria-label="Professional Profiles">
  <ul class="site-wrapper">
    <li>
      <a href="https://github.com/thatdevgirl">
        <span class="fab fa-github"></span>
        GitHub
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/jonihalabi/">
        <span class="fab fa-linkedin"></span>
        LinkedIn
      </a>
    </li>

    <li>
      <a href="https://stackoverflow.com/story/jonihalabi">
        <span class="fab fa-stack-overflow"></span>
        Stack Overflow
      </a>
    </li>

    <li>
      <a href="Joni-Halabi-resume.pdf">
        <span class="fas fa-file-pdf"></span>
        Resume (PDF)
      </a>
    </li>
  </ul>
</section>

{% include page-footer.html %}
{% include site-footer.html %}
