{% include site-header.html %}
{% include page-header.html %}

<main class="site-content">
  <div class="site-wrapper">

    <article class="post">
      <h1 id="article-title">{{ page.title }}</h1>

      <p class="date">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time>
      </p>

      <div class="taxonomy">
        {% if page.categories != empty %}
          <span class="topic categories">
            <b>Category:</b>
            {% for category in page.categories %}
              {% assign mainCategory = category %}
              <a href="/blog/{{ category | replace: ' ', '-' }}">{{ category }}</a>
            {% endfor %}
          </span>
        {% endif %}

        {% if page.tags != empty %}
          <span class="topic tags">
            <b>Tags:</b>
            {% for tag in page.tags %}
              <a href="/blog/{{ mainCategory }}/{{ tag | replace: ' ', '-' }}">{{ tag }}</a>
            {% endfor %}
          </span>
        {% endif %}
      </div>

      <div class="container">
        <div class="post-share">
          <p>Share this!</p>
          <a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&url={{ site.production_url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" aria-label="Share on Twitter"><span class="fab fa-twitter"></span></a>
          <a href="https://facebook.com/sharer.php?u={{ site.production_url }}{{ page.url }}" rel="nofollow" aria-label="Share on Facebook"><span class="fab fa-facebook"></span></a>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.production_url }}{{ page.url }}" rel="nofollow" aria-label="Share on LinkedIn"><span class="fab fa-linkedin"></span></a>
          <a href="mailto:?to=&body={{ site.production_url }}{{ page.url }}?subject=Read%20this:%20{{ page.title | replace: ' ', '%20' }}" rel="nofollow" aria-label="Share via email"><span class="fas fa-envelope-square"></span></a>
        </div>

        <div class="post-article">
          {{ content }}
        </div>
      </div>
    </article>

  </div>
</main>

{% include page-footer.html %}
{% include site-footer.html %}
