{% include site-header.html %}
{% include page-header.html %}

<main>

  <div class="site-content">
    {{ content }}

    <p>
      <a href="/blog/{{ page.main }}" class="btn">
        Back to the {{ page.main | capitalize }} page
      </a>
    </p>
  </div>

    <ul class="tags">
      {% for post in site.tags[page.category] reversed %}
        <li>
          <div class="site-content">
            <p class="date">
              {{ post.date | date_to_long_string }}
            </p>

            <h2>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>

            <p>
              {{ post.content | strip_html | truncate: 800, ' [...]' }}
            </p>

            <a href="{{ post.url }}" class="btn" aria-label="Read more about {{ post.title }}">
              Read more...
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>

</main>

{% include page-footer.html %}
{% include site-footer.html %}
